fastapi
uvicorn[standard]

langchain
langchain_openai
langchain_core
langchain_community

chromadb

SpeechRecognition==3.10.0
pydub

opencv-python

huggingface-hub<0.26.0, >=0.15.0
transformers<5.0.0
imgbeddings==0.1.0
facenet-pytorch
mediapipe
python-multipart